* { @extend %border-box; }

body {
  font-family: 'Arial Black',Arial,sans-serif;
  padding: 5%;
}

.scores {
  text-align: center;

  .spacer {
    display: table-cell;
    width: 2em;
  }
}

.score-container {
  display: inline-block;
}

.score {
  display: table-cell;
  vertical-align: middle;
  font-size: 2em;
  font-weight: bold;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  color: white;
  background-color: #FF4100;

  &.yellow {
    background-color: #FFC223;
  }

  &.blue {
    background-color: #0082C6;
  }

  .player & {
    border: none;
    font-size: 1em;
  }
}

.players {
  overflow: auto;
}

.player {
  float: left;
  padding: 2em;
  width: 50%;
  text-align: center;

  .switched & {
    float: right;
  }
}
